PrimeNumber.class
LeapYear.class
LeapYear2.class
GradeCalculator.class
FizzBuzz.class
FizzBuzz2.class
YoungestAndTallest.class
BMI.class
GreatestFactor.class
PowerOfNumber.class
Factors.class
Multiples.class